@font-face {
    font-family: GilroyB;
    src: url("other/font/Gilroy-ExtraBold.otf") format("opentype");
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input[type=number] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@keyframes effect {
    0% {
        transform: translateX(0px) rotate(0deg);
    }
    10% {
        transform: translateX(-0.2px) rotate(-0.2deg);
    }
    20% {
        transform: translateX(-0.1px) rotate(-0.1deg);
    }
    30% {
        transform: translateX(0.2px) rotate(0.2deg);
    }
    40% {
        transform: translateX(0.1px) rotate(0.1deg);
    }
    50% {
        transform: translateX(-0.2px) rotate(-0.2deg);
    }
    60% {
        transform: translateX(-0.1px) rotate(-0.1deg);
    }
    70% {
        transform: translateX(0.2px) rotate(0.2deg);
    }
    80% {
        transform: translateX(0.1px) rotate(0.1deg);
    }
    100% {
        transform: translateX(0px) rotate(0deg);
    }
}

body {
    overflow: hidden;
    background: #171a1d;
    color: white;
    font-family: "Arial";
    width: 20.5rem;
    height: 32rem;
    overflow-y: hidden;
    overflow-x: hidden;
}

#titleColor {
    font-size: 1.5rem;
    background: #23272a;
    padding: 6px;
    border-radius: 1rem;
    text-align: center;
    font-family: GilroyB;
    border: 1px solid #52d79a;
    box-shadow: #52d79a 0px 0px 2px;
}

#titleColor:hover {
    box-shadow: 0px 0px 7px rgba(0, 255, 140, 0.5);
    transition: 0.3s;
}

#HelpButton {
    position: relative;
    top: -5%;
    left: -21px;
    color: white;
    background-color: transparent;
    background-size: 30px;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 4px rgba(67, 181, 129, 0.5);
    border: 1px solid #52d79a;
    font-family: GilroyB;
    font-size: 0.9rem;
    padding: 10px 40px;
    text-align: center;
    border-radius: 0.8rem;
}

#links {
    position: relative;
    top: 3.5%;
    left: 60%;
}

input[type="submit"]#HelpButton:hover {
    background: #43b581;
    box-shadow: 0px 0px 15px rgba(0, 255, 140, 0.5);
    transition: 0.3s;
}

#pinButton {
    position: relative;
    top: -16px;
    left: 32%;
    color: white;
    background-image: url("https://i.imgur.com/qnSwtS4.png");
    background-size: 26px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 20px;
    box-shadow: 0px 0px 4px rgba(67, 181, 129, 0.5);
    border: 1px solid #52d79a;
    font-family: GilroyB;
    font-size: 0.9rem;
    padding: 6.5px 13px;
    text-align: center;
    border-radius: 5px;
}

input[type="submit"]#pinButton:hover {
    box-shadow: 0px 0px 15px #00ff8c;
    transition: 0.3s;
}

#ConnectButton {
    position: relative;
    top: -4px;
    color: white;
    background-color: transparent;
    background-size: 30px;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 4px rgba(67, 181, 129, 0.5);
    border: 1px solid #52d79a;
    font-family: GilroyB;
    font-size: 1rem;
    padding: 10px 38px;
    text-align: center;
    border-radius: 0.8rem;
}

#ierr {
    position: relative;
    top: -4px;
    color: white;
    background-color: #ff4b4b;
    background-size: 30px;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 6px #ff4b4b;
    border: 1px solid #580000;
    font-family: GilroyB;
    font-size: 1rem;
    padding: 10px 38px;
    text-align: center;
    border-radius: 0.8rem;
    animation: effect 0.4s infinite;
    transition: 0.5s;
}

input[type="submit"]#ConnectButton:hover {
    background: #43b581;
    box-shadow: 0px 0px 15px rgba(0, 255, 140, 0.5);
    transition: 0.3s;
}

#link {
    color: #43b581;
    position: absolute;
}

a:hover,
a:visited,
a:link,
a:active {
    text-decoration: none;
}

#upDate {
    background: #23272a;
    padding: 20px;
    border-radius: 1rem;
    height: 21.2rem;
    border: 1px solid #52d79a;
    box-shadow: #52d79a 0px 0px 2px;
}

#upDate:hover {
    box-shadow: 0px 0px 7px rgba(0, 255, 140, 0.5);
    transition: 0.3s;
}

#author {
    font-family: GilroyB;
    font-size: 20px;
    color: #ffffff;
}

a:hover,
a:visited,
a:link,
a:active {
    text-decoration: none;
}

#err_i {
    position: absolute;
    color: transparent;
    background: transparent;
}

#err {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    color: #ffffff;
    font-size: 150%;
    background: #ff4b4b;
    box-shadow: 0px 0px 10px rgba(255, 130, 130, 0.5);
    padding: 10px;
    border-radius: 1rem;
    margin: 0;
    position: absolute;
    top: 28%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
}

#err_t {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    color: #ffffff;
    background: #ff4b4b;
    padding: 10px;
    border-radius: 1rem;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#IDInput {
    padding: 7px;
    font-family: GilroyB;
    width: 10rem;
    box-shadow: #52d79a 0px 0px 2px;
    border: 1px solid #52d79a;
    background: #23272a;
    color: #ffffff;
    font-size: 120%;
    border-radius: 5px;
    position: absolute;
    left: 43%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

input[type="number"]#IDInput:hover {
    box-shadow: 0px 0px 10px rgba(0, 255, 140, 0.5);
    transition: 0.3s;
}

#long {
    width: 90%;
}